@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 396px;
    width: 100%;
}

.title{
    color: #3F3D56;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-weight: 700;
    margin-top: 68px;
    margin-bottom: 22px;
}

.container{
    display: flex;
}

.input-field{
    font-size: 14px;
    color: #323730;
    margin-bottom:6px ;    
}

.input-width{
    width: 396px;
    height: 47px;
    padding-left: 14px;
    margin-bottom: 24px
}

.date-input{
    padding-left: 14px;
}

.contry-date{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #1DB9E0;
}


.box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
}

.space-cd{
    width: 48%;
}

.date-input{
    width: 170px;
    height: 47px;
}

#countrySelect{
    width: 208px;
    height: 50px;
}

.date-contry-label{
    margin-bottom: 16px;
}

.genre{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.genre-options{
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin-bottom: 23px;
}

#select-genre{
    width: 18px;
    height: 18px;
}

.genre-title{
    margin-bottom: 8px;
}

.form-email-password{
    margin-bottom: 4px;
}

.input-email-password{
    margin-bottom: 22px;
}

.register-button{
    background-color: #3F3D56;
    color: white;
    width: 415px;
    height: 47px;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 300ms;
    margin-bottom: 28px;
}

.register-button:hover{
    background-color: #37354be3;
    cursor: pointer;
    
}

.userterm{
    display: flex;
    flex-direction:row;
    width: 100%;
    margin-bottom: 28px;
    justify-content: space-between;
}

#user-term{
    width: 18px;
    height: 18px;
}

.enter-now{
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subtitle{
    width: 396px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #5A6256;
    margin-bottom: 28px;
}